body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

section {
    display: flex;
    /*for all section*/
    padding-bottom: 40px;
}

section div {
    width: 48%;
    padding-left: 10%;
}

div img {
    width: 50%;
    /*for all image under the div*/
    margin-top: 0px;

}

div h1 {
    /*for all h1 tag*/
    font-size: 60px;
    margin-bottom: 0px;
    padding-left: 10px;
    border-left: 4px solid red;

}

.stay-focused {
    margin-top: 40px;
    width: 650px;
    padding-top: 50px;
}

.all-button {
    /*all button style*/
    text-decoration: none;
    padding: 14px 25px;
    background-color: red;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}

div p {
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: justify;
}

.mission-header {
    font-size: 35px;
    margin-left: 26%;

}

.timeline {
    /*section-2 style start*/
    display: flex;
    position: absolute;
    margin-top: 8%;
    width: max-content;
    margin-left: 9%;
}

/*all cards style start from here*/
.timeline h3 {
    font-size: 24px;

}

.background-image {
    background-image: url(images/Group\ 57404.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.timeline img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
}

.card-1 {
    padding: 20px 30px 20px 30px;
    width: 300px;
    height: 350px;
    background-color: #EDF5F6;
    margin-right: 20px;
    border-radius: 30px;

}

.card-2 {
    padding: 20px 30px 20px 30px;
    width: 300px;
    height: 350px;
    background-color: #FFEEEE;
    margin-right: 20px;
    border-radius: 30px;

}

.card-3 {
    padding: 20px 30px 20px 30px;
    width: 300px;
    height: 350px;
    background-color: #FFF4D6;
    margin-right: 20px;
    border-radius: 30px;
}

/*all cards style ends*/
/*third section style start from here*/
.ladies-group {}

.develop {}