body {
    font-family: "Roboto", sans-serif;
}

section {
    display: flex;
    /*for all section*/
}

section div {
    width: 48%;
    padding-left: 10%;
}

div img {
    width: 50%;
    /*for all image under the div*/

}

div h1 {
    /*for all h1 tag*/
    font-size: 60px;
    margin-bottom: 0px;
    padding-left: 10px;
    border-left: 4px solid red;

}

.stay-focused {
    margin-top: 40px;
    width: 650px;
    padding-top: 50px;
}

.all-button {
    text-decoration: none;
    padding: 14px 25px;
    background-color: red;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}

div p {
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: justify;
}